@model DataAccess.EntityFramework.comment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="mc-post">
    <div class="mcp__large-post">
        <div>
            <div class="content-post">
                <h4>Viết bình luận</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.article_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.article_id, new { htmlAttributes = new { @class = "form-control" }, @Value = TempData["article_id"] })
                        @Html.ValidationMessageFor(model => model.article_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.cmt_cotnent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cmt_cotnent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cmt_cotnent, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Gửi bình luận" class="btn btn-default" />
                    </div>

                </div>
                <p>
                    @Html.ActionLink("Tất cả bình luận", "Index")
                </p>
                <br />
                <br />
                <p>
                    <a href="/homepage/detail/@TempData["article_id"]">Quay lại bài viết</a>
                </p>
            </div>
        </div>
    </div>
</div>
}
